@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Go to the <strong>Events</strong> tab to see all available events.</p>
    <p>Go to the <strong>My Events</strong> tab to see all your joined events.</p>
</div>
