@page
@model Inlämningsuppgift1.Pages.JoinNewEventModel

@{
    ViewData["Title"] = "JoinNewEvent";
}

<h1>JoinNewEvent</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.eventID" />
            <div class="form-group">
                <label asp-for="Event.description" class="control-label"></label>
                <input asp-for="Event.description" class="form-control" />
                <span asp-validation-for="Event.description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.place" class="control-label"></label>
                <input asp-for="Event.place" class="form-control" />
                <span asp-validation-for="Event.place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.adress" class="control-label"></label>
                <input asp-for="Event.adress" class="form-control" />
                <span asp-validation-for="Event.adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.date" class="control-label"></label>
                <input asp-for="Event.date" class="form-control" />
                <span asp-validation-for="Event.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.spots_available" class="control-label"></label>
                <input asp-for="Event.spots_available" class="form-control" />
                <span asp-validation-for="Event.spots_available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
